# Node modules
node_modules/

# TypeScript compiled output

build/

# TypeScript declaration files
# *.d.ts

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# VS Code settings
.vscode/